@{
    ViewData["Title"] = "Manage Account";
}
<h2>@ViewData["Title"]</h2>

<p>This route is <b>protected</b> and cannot be accessed unless you are logged in.</p>

<h3>Account Details</h3>
<p><b>Username:</b> @Request.GetStormpathAccount().Username</p>
<p><b>Email:</b> @Request.GetStormpathAccount().Email</p>
<p><b>Full Name:</b> @Request.GetStormpathAccount().FullName</p>
<p><b>First:</b> @Request.GetStormpathAccount().GivenName</p>
<p><b>Last:</b> @Request.GetStormpathAccount().Surname</p>
<p><b>ID:</b> @Request.GetStormpathAccount().Href</p>